* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* header is being set to top of page*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/* ---------------------------------- */

/* header text size */
.header h1 {
  display: inline-block;
  font-size: 48px;
}
/* ---------------------------------- */

/* "seo" in Horiseon being given different font color */
.header h1 .seo {
  color: #d9dcd6;
}
/* -------------------------------------------------- */

/* adding links and placing into header */
.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* ------------------------------------------------- */

.header div ul {
  list-style-type: none;
}

/* spacing between link buttons */
.header div ul li {
  display: inline-block;
  margin-left: 25px;
}
/* ---------------------------- */

/* placement of main image on page */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/* ------------------------------- */

/* giving links on header white color */
a {
  color: #ffffff;
  text-decoration: none;
}
/* --------------------------------------------------------------- */

/* placing sections to left side of page taking up 75% of viewport */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* --------------------------------------------------------------- */

/* giving sections proper margins and padding to fit content inside */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* ----------------------------------------------------------------- */

/* makes text for 1st & 2nd section to right of img */
.float-left {
  float: left;
  margin-right: 25px;
}
/* ------------------------------------------------ */

.float-right {
  float: right;
  margin-left: 25px;
}

p {
  font-size: 16px;
}

/*------ fitting aside contents to right side of viewport------*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/* ---------------------------------------------------------- */

/* aside paragraph text color and bottom marginS */
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}
/* ----------------------------------- */

/* aside h3 text centered */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* ---------------------------------- */

/* images placement in aside block */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* ------------------------------- */

/* images in sections height */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  max-height: 200px;
}
/* ------------------------------ */

/* h2 text size and bottom margin */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* ------------------------------ */

/* placing footer at bottom of page w/o overlaps  */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/* ------------------------------------ */

/* footer text size */
.footer h2 {
  font-size: 20px;
}
